.home-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;

.bestsellers{
    display: flex;
    flex-direction: column;
    align-items: center;
    .bestsellers-container{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        .product-card{
            width: 290px;
            background-color: #ffffff;
            border-radius: 20px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            text-decoration: none;
            color: #000000;
            font-size: 16px;
            .info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .product-photo{
                width: 70%;
                text-decoration: none;
            }
            .product-name{
                font-weight: bold;
                font-size: 16px;
                margin-top: 5px;
                text-decoration: none;
            }
            .product-item{
                text-align: justify;
                text-decoration: none;
            }
            .product-link{
                text-decoration: none;
                display: flex;
                justify-content: center;
            }
            .product-button{
                background-color: #18a9cd;
                color: #ffffff;
                padding: 5px 20px;
                border-radius: 20px;
                margin-top: 10px;
                cursor: pointer;
                &:hover{
                    background-color: #54d3f0;
                    transition: 0.3s;
                }
            }
        }        
        
    }
}
}

.store-description{
    background-color: #ffffff;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .store-description-block-one{
        display: flex;
        flex-direction: row;
        .store-description-block-one-right{
            margin-left: 30px;
        }
        .store-description-block-one-left{
            display: flex;
            align-items: center;
        }
        .store-description-logo{
            width: 600px;
        }
        .store-description-block-one-right ul{
            margin: 0;
            padding: 0;
        }
        .store-description-block-one-right li{
            margin-left: 40px;
        }}}

.carousel-container{
    width: 100%;
    height:600px;
    .carousel-img{
        height:500px;
    }
    .carousel-text{
        font-size: 20px;
       font-weight: bold;
   }
   h2{
       color: #b154f8;
   }
}
@media (max-width: 400px){
    .home-page-container{
        width: 400px;
    .bestsellers{
        flex-direction: column;
        .bestsellers-container{
            flex-direction: column;
            .product-card{
                width: 350px;
            }}}}
    .store-description{
        width: 400px;
        margin: 10px;
        padding: 10px;
        .store-description-block-one{
            display: flex;
            flex-direction: column;
            .store-description-logo{
                width: 90%;
            }}}
    .carousel-container{
        width: 100%;
        height:300px;
        .carousel-img{
            height:300px;
        }}}