body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.outlet{
    display: flex;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/7130469/pexels-photo-7130469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    width: 100vw;
}
.product-container-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
.product-card{
    width: 290px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    .product-photo{
        width: 70%;
        text-decoration: none;
        
    }
    .product-name{
        font-weight: bold;
        font-size: 16px;
        margin-top: 5px;
        text-decoration: none;
    }
    .product-item{
        text-align: justify;
        text-decoration: none;
    }
    .product-link{
        text-decoration: none;
        display: flex;
        justify-content: center;
    }
    .product-button{
        background-color: #18a9cd;
        color: #ffffff;
        padding: 5px 20px;
        border-radius: 20px;
        margin-top: 10px;
        cursor: pointer;
        &:hover{
            background-color: #54d3f0;
            transition: 0.3s;
        }
    }
}    
}
.product-profile{
    background-color: #ffffff;
    border-radius: 20px;
    margin: 40px 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: justify;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .product-info-container{
      display: flex;
    justify-content: center;   
    width: 600px;
    align-items: start;
  
    }
   
    .product-name{
        font-size: 20px;
        text-align: center;
        padding: 10px 0;
    }
    
    .product-info-items{
        width: 50%;
        margin-left: 40px;
    }
    .button-container{
        display: flex;
        justify-content: center;
        align-items: center;
    .product-button{
        width: 300px;
        background-color: #18a9cd;
        color: #ffffff;
        padding: 5px 30px;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;
        &:hover{
            background-color: #32c7ec;
            transition: 0.3s;
        }
    } 
    }
   
    .product-item{
        margin: 10px 0;
    }
    .product-photo-container{
        width: 500px;
        display: flex;
        justify-content: center;
        height: min-content;
        margin-top: 5px;
        margin-right: 10px;
    }
    .product-photo{
        width: 120%
    }
}
.er-message{
    margin-top: 5px;
    color: #f04a4a;
    font-weight: bold;
}
.message{
    margin-top: 5px;
    color:#29bd3d;
    font-weight: bold;
}
.carousel-container{
    width: 100%;
    height: 50%;
}
.footer{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    padding: 15px;
    width: 100vw;
    .footer-logo{
        width: 50%;
        margin-bottom: 10px;
    }
    .footer-left-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }
    .footer-center-block{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-top: 10px;
        width: 20%;
        .footer-item{
            padding: 5px;
        }
    }
    .footer-right-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        width: 30%;
        .social-media{
            margin-top: 10px;
            display: flex;
        flex-direction: row;
    justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        
        .social-icon{
            width: 70%;
            padding: 3px;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }

        }
       
    }

}
.empty-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.cart-item-container{
    margin: 20px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    .cart-item-photo{
        width: 150px;
    }
    .cart-item-name{
        padding: 10px;
        width: 180px;
      
    }
    .cart-item-price{
        padding: 10px;
        text-align: center;
    }
    .cart-item-price-sum{
        padding: 10px;
        text-align: center;
    }
    .cart-item-value{
        font-weight: bold;
        margin-top: 5px;
    }
    .cart-item-button{
        width: 200px;
        background-color: #18a9cd;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
        margin-right: 10px;
        cursor: pointer;
        &:hover{
            background-color: #32c7ec;
            transition: 0.3s;
        }
    }
    .cart-item-quantity{
        width: 120px;
        text-align: center;
    }
}
.quantity-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  margin-bottom: 5px;
    text-align: center;
.button-quantity{
    background-color: #f7f0f5;
    width: 30px;
    padding:0 5px;
    margin: 0px 10px;
    display: flex;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;

}
}
.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .cart-footer{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .total{
        text-align: center;
    }
    .cart-button{
        width: 200px;
        background-color: #b518cd;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
        margin: 20px 0 300px 0;
        cursor: pointer;
        &:hover{
            background-color: #ed38ed;
            transition: 0.3s;
        }
    }
}
.photo-img{
    width: 400px;
}
.order{
position: fixed;
   top:0;
   left: 0;

    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;    
    background: linear-gradient(360deg, #211F2080 0%, #44403f30 100%);
    justify-content: center;
    align-items: center;
}
.order-form {
    overflow-y:scroll;
    height: 500px;
overflow-x: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .order-form-title{
        font-size: 20px;
    }
    .close{
        position: relative;
        top:10px;
        left: 250px;
    }
 .order-form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    .delivery-info-title{
        font-size: 18px;
   
    }
    .order-input{
        height: 30px;
        opacity: 0.5;
        width: 240px;
        padding-left: 10px;
        border: 2px solid #da82f5;
        color: #000000;
        &:focus {
            outline: 2px solid #da82f5;
          }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(50, 156, 202);
        }
    }
    .delivery-info-name{
        margin-top: 10px;

    }
    .delivery-info-list{
        display: flex;
    flex-direction: column;
    .list-input{
        margin-left: 20px;
        margin-right: 5px;
        color: #d574f2;
    }
   
 }}
 .order-info{
    margin-left: 30px;
    
 }
 .order-container{
    width: 200px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-top: 10px;
    .order-container-proto{
        width: 100px;
        margin-right: 10px;
  
        .order-photo{
            width: 100%;
        }
    }
 }
 .order-button{
 width: 200px;
 background-color: #b518cd;
 color: #ffffff;
 padding: 5px;
 text-align: center;
 border-radius: 10px;
 font-weight: bold;
 margin: 20px 0 0 0;
 cursor: pointer;
 &:hover{
     background-color: #ed38ed;
     transition: 0.3s;
 }}
 .order-form::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
  }
  .order-form::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18aaaa;
  }
  
  .order-form::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
  }
.hidden{
    display: none;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  
}
.top-to-btm{
    position: relative;
  }
  .scroll-button{
     color: #000000;
    cursor: pointer;
    position: fixed;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: row;
    width: 200px;
    .arrow{
        width: 10%;
        margin-top: 2px;
        padding-right: 5px;
        margin-left: 5px;
      }
  }

  .page-button{
    width: 50px;
 background-color: #b518cd;
 padding: 10px;
 text-align: center;
 border-radius: 10px;
 font-weight: bold;
 margin: 20px 0 20px 10px;
 border-radius: 50%;
 cursor: pointer;
 &:hover{
     background-color: #ed38ed;
     transition: 0.3s;
 }}
  .carousel-text{
  
    font-size: 20px;
    font-weight: bold;
    
  }
h2{
    color: #b154f8;
}
  
