.reg-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-image: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg);
    margin-top: 40px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 200px;
    .reg-title{
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: #18a9cd;
    }
    .reg-input{
        opacity: 0.9;
        height: 30px;
        margin-top: 15px;
        width: 300px;
        padding-left: 10px;
        border: 1px solid #ffffff;
        color: #000000;
        &:focus {
            outline: 2px solid #32c7ec;
          }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(50, 156, 202);
        }
    }
    .reg-button{
        width: 110px;
        background-color: #18a9cd;
        color: #ffffff;
        padding: 5px 30px;
        text-align: center;
        border-radius: 10px;
        margin-top: 20px;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            background-color: #32c7ec;
            transition: 0.3s;
        }
    }
}